#countNum{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 100px;
}
.buttons{
    text-align: center;
}
.head{
    margin-top: 5%;
}
h1{
    text-align: center;
}
.box{
    margin-top: 20px;
    margin-left: 30%;
    width: 250px;
    height: 250px;
    background-color: blue;
    border: 2px solid black;
    cursor: pointer;
}
@media screen and (max-width:600px) {
    .box{
        margin-left: 10%;
    }
}
.in {
    position: relative;
    bottom: 45px;
    text-align: center;
    color: #fff;
    font-size: 200px;
}